.mainbar {
  position: absolute;
  top: 0;
  left: 16%;
  width: 84%;
  height: 8rem;
  z-index: -1;
  background-color: #fff;
  border-bottom: 1px solid rgba(11, 11, 11, 0.1);

  &__nav {
    list-style: none;
    position: absolute;
    right: 10rem;
    li {
      &:hover {
        color: $color-red;
        cursor: pointer;
      }
      display: inline-block;
      margin-left: 3rem;
      line-height: 4;
      font-size: 1.8rem;
      a:link,
      a:visited {
        color: $color-sky;
        i {
          margin-right: 0.5rem;
        }
      }
      a:hover {
        color: $color-red;
      }
    }
  }
}
